version: '3.9'

networks:
  app-network:

services:
  backend:
    build: ./backend
    container_name: flask_api
    networks:
      - app-network
    volumes:
      - ./model:/app/model
      - ./data:/app/data
    expose:
      - "5000"

  frontend:
    build: ./frontend
    container_name: react_build
    volumes:
      - react_build:/app/build
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - react_build:/usr/share/nginx/html
    networks:
      - app-network
    depends_on:
      - backend
      - frontend

volumes:
  react_build: